@import url("./typography.css");
@import url("./pageTransition.css");
@import url("./workPreview.css");
@import url("./showcasesNav.css");
@import url("./showcasesList.css");
@import url("./showcaseItem.css");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}
 
html body::-webkit-scrollbar {
  display: none;
}
 
html {
  scrollbar-width: none !important;
 

  -ms-overflow-style: none;
}
 
html body::-webkit-scrollbar {
  display: none;
}



/* Home 
------------------------- */



.work-cover_hover {

}

.work-item__info  {
  opacity: 0;
}

.hero,
.works,
.about,
.contacts {
 
}


.works {
  
}

.about {
  
}

.contacts {
  
}



canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.work-item__cover-img {

}


/* Showcases
------------------------- */
.staic-title-box {
  opacity: 0.08;
}

.staic-title-box_about {
  visibility: hidden;
}

.staic-title-box_contacts {
  visibility: hidden;
}

.staic-title-box_works {
  visibility: hidden;
}

