@import url("./typography.css");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  
}

.main {

}

/* Home 
------------------------- */

.work-cover_default {
  visibility: hidden;
}

.work-cover_hover {

}

.work-item__info  {
  opacity: 1;
}

.hero,
.works,
.about,
.contacts {
 
}


.works {
  
}

.about {
  
}

.contacts {
  
}

.works-canvas {
  z-index: 50;
  
}

canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.work-item__cover-img {

}


/* Showcases
------------------------- */

.staic-title-box_about {
  visibility: hidden;
}

.staic-title-box_contacts {
  visibility: hidden;
}

.staic-title-box_works {
  visibility: hidden;
}

.showcases {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  
}

.showcase {
  
}

.showcase-details-info{
  width: 0;
}

.showcase-details {
  height: 0svh;
}

.showcase-gallery {
  overflow: hidden;
  height: 30svh;
}

.showcase-link {
  z-index: 200;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}