.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 250;

  grid-area: 1 / 1 / -1 / -1;
	display: grid;
	position: fixed;
	pointer-events: none;
	opacity: 0;
	--columns: 20;
	grid-template-columns: repeat(var(--columns),1fr);
}

.overlay div {
	background: var(--bg100);
  /* background: #000; */
}