.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 250;

  grid-area: 1 / 1 / -1 / -1;
	display: grid;
	position: fixed;
	pointer-events: none;
	opacity: 0;
	--columns: 24;
	grid-template-columns: repeat(var(--columns),1fr);
}

.overlay div {
	background: var(--bg100);
	z-index: 20;
  /* background: #d2d2d2; */
	
}

div.overlay__blend {
	z-index: 10;
	background: #00ff6e;
	mix-blend-mode: saturation;
}